extends layout

block content
  express home page
      ul
          li
              a(href='#', id='home') server-home
          li
              a(href='#', id='page1') server-page1
          li
              a(href='#', id='page2') server-page2
