<!doctype html>
<html class="no-js">
<head>
    <% include ../views/partials/head %>
</head>
<body ng-app="vineApp">
<div class="container" ng-view=""></div>
</body>

<script>
    angular.module('vineApp').constant('config', {
      standAlone: <%- debug %>
    });
</script>
</html>
