extends layout

block content
  div Express page 1
      ul
        li
            a(href='#', id='home') home
        li
            a(href='#', id='page1') page1
        li
            a(href='#', id='page2') page2
