<!doctype html>
<html class="no-js">
<head>
    <style wix-style type="text/css">
        vinevideo .meta {
            background-color: {{style.bgColor color-1}};
        }

        vinevideo .meta .username {
            color: {{style.titleColor color-2}};
            {{style.titleFont Title}};
        }

    </style>
    <% include ../views/partials/head %>
</head>
<body ng-app="vineApp">
<div class="container" ng-view=""></div>
</body>
<script>

  angular.module('vineApp').constant('config', {
      query: <%- query %>,
      size: <%- size %>,
      view: 'search'
  });

</script>
</html>
