<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/wix-ui-lib2/ui-lib.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style wix-style>
        body {
            {{style.fontStyle}};
        }

        #mybutton {
            {{style.fontStyle}};
            background-color: {{style.bgColor color-2}};
            color: {{style.textColor color-2}};
        }
    </style>
</head>
<body wix-ui ng-app="vineApp">


<div ng-controller="SettingsCtrl" ng-init="init()">

    <div class="accordion" wix-ctrl="Accordion">
        <div class="acc-pane">
            <h3>Color Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Search Button Background Color:">
                        <div wix-param="bgColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-25'}"></div>
                    </li>
                    <li wix-label="Search Button Text Color:">
                        <div wix-param="textColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-7'}"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Font Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Font Style:">
                        <div wix-param="fontStyle" wix-ctrl="FontStylePicker"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Display Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Search Button">
                        <div ng-show-search-button ng-model="settings.showSearchButton" wix-model="showSearchButton" wix-ctrl="Checkbox" wix-options="{checked:true}"></div>
                    </li>
                    <li wix-label="Video Size">
                        <div ng-video-size ng-model="settings.videoSize" wix-model="videoSize" wix-ctrl="ButtonGroup" wix-options="{value: 1}">
                            <button value="0">Mini</button>
                            <button value="1">Medium</button>
                            <button value="2">Large</button>
                        </div>
                    </li>
                    <li wix-label="Number of Videos">
                        <div ng-num-of-videos ng-model="settings.numOfVideos" wix-model="numOfVideos" wix-ctrl="Spinner" wix-options="{ maxValue:12, value: 6, size: 'small' }"></div>
                    </li>
                    <li wix-label="Avatar Size">
                        <div ng-avatar-size ng-model="settings.avatarSize" wix-model="avatarSize" wix-ctrl="Radio" wix-options="{value: 1}">
                            <div data-radio-value="0">small</div>
                            <div data-radio-value="1">medium</div>
                            <div data-radio-value="2">large</div>
                        </div>
                    </li>
                    <li wix-label="Display Avatar">
                        <div ng-show-avatar ng-model="settings.showAvatar" wix-model="showAvatar" wix-ctrl="Checkbox" wix-options="{checked:true}"></div>
                    </li>
                    <li wix-label="Results Title Style">
                        <div ng-result-text-style ng-model="settings.resultTextStyle" wix-model="resultTextStyle" wix-ctrl="Dropdown" wix-options="{value:2, width:150}">
                            <div value="short">#Wix</div>
                            <div value="medium">#Wix (6)</div>
                            <div value="long">Wix: showing 6 results</div>
                        </div>
                    </li>
                    <li wix-label="Modal Window">
                        <div wix-ctrl="Tooltip" wix-options="{placement:'bottom', text:'This doesn't do anything'}">
                            <button class="uilib-btn btn-btn-green" id="modalAnchorBtn" ng-click="modalOpen($event)"><i class="icon-edit"></i>Open me!</button>
                        </div>
                    </li>
                    <li wix-label="Popup Window">
                        <div wix-ctrl="Tooltip" wix-options="{placement:'top', text:'This also doesn't do anything'}">
                            <button class="uilib-btn btn-purple" id="popupAnchorBtn" ng-click="popupOpen($event)">Open me too!</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Search Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Default Search Term:">
                        <div ng-default-search-term ng-model="settings.defaultSearchTerm" wix-model="defaultSearchTerm" wix-ctrl="Input" wix-options="{placeholder: 'wix'}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r]  || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
<script src="http://sslstatic.wix.com/services/js-sdk/1.29.0/js/Wix.js"></script>
<script src="bower_components/wix-ui-lib2/ui-lib.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/vineservice.js"></script>
<script src="scripts/directives/video.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/video.js"></script>
<script src="scripts/controllers/results.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/directives/metavideo.js"></script>
<script src="scripts/directives/modelsync.js"></script>
<script src="scripts/controllers/popular.js"></script>
<script src="scripts/services/wixservice.js"></script>
<script src="scripts/services/wixuiservice.js"></script>
<script src="scripts/services/appsettings.js"></script>
<!-- endbuild -->

<script>
    var settings = <%- settings %>;
</script>
<script type="text/javascript">
    angular.module('vineApp').constant('mySettings',      {
        standAlone: false
    });
</script>

</body>
</html>