
<div ng-controller="SettingsCtrl" ng-init="init()">

    <div class="accordion" wix-ctrl="Accordion">
        <div class="acc-pane">
            <h3>Color Settings</h3>
            <div class="accordion" wix-ctrl="Accordion">
                <div class="acc-pane">
                    <ul class="list">
                        <li wix-label="Search Button">
                            <div class="acc-content">
                                <ul class="list">
                                    <li wix-label="Button Background Color:">
                                        <div wix-param="bgColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-25'}"></div>
                                    </li>
                                    <li wix-label="Button Text Color:">
                                        <div wix-param="textColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-7'}"></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Font Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Font Style:">
                        <div wix-param="fontStyle" wix-ctrl="FontStylePicker"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Video Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Video Size: ">
                        <div wix-param="multiSize" wix-ctrl="ButtonGroup">
                            <button value="mini">Mini</button>
                            <button value="medium">Medium</button>
                            <button value="large">Large</button>
                        </div>
                    </li>
                    <li wix-label="Number of Videos:">
                        <div ng-num-of-videos ng-model="settings.numOfVideos" wix-model="numOfVideos" wix-ctrl="Spinner" wix-options="{ maxValue:10, value: 6, size: 'small' }"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Search Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Default Search Term:">
                        <div wix-model="defaultSearchTerm" wix-ctrl="Input" wix-options="{placeholder: '6'}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>