
<div ng-controller="SettingsCtrl" ng-init="init()">

    <div class="accordion" wix-ctrl="Accordion">
        <div class="acc-pane">
            <h3>Color Settings</h3>
            <div class="acc-pane">
                <div class="acc-content">
                    <ul class="list">
                        <li wix-label="Search Button Background Color:">
                            <div wix-param="bgColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor: 'color-25'}"></div>
                        </li>
                        <li wix-label="Search Button Text Color:">
                            <div wix-param="textColor" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-7'}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Font Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Font Style:">
                        <div wix-param="fontStyle" wix-ctrl="FontStylePicker"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Display Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Search Button:">
                        <div ng-show-search-button ng-model="settings.showSearchButton" wix-model="showSearchButton" wix-ctrl="Checkbox" wix-options="{checked:true}"></div>
                    </li>
                    <li wix-label="Video Size:">
                        <div ng-video-size ng-model="settings.videoSize" wix-model="videoSize" wix-ctrl="ButtonGroup" wix-options="{value: 1}">
                            <button value="0">Mini</button>
                            <button value="1">Medium</button>
                            <button value="2">Large</button>
                        </div>
                    </li>
                    <li wix-label="Number of Videos:">
                        <div ng-num-of-videos ng-model="settings.numOfVideos" wix-model="numOfVideos" wix-ctrl="Spinner" wix-options="{ maxValue:12, value: 6, size: 'small' }"></div>
                    </li>
                    <li wix-label="Avatar Size">
                        <div ng-avatar-size ng-model="settings.avatarSize" wix-model="avatarSize" wix-ctrl="Radio" wix-options="{value: 1}">
                            <div data-radio-value="0">small</div>
                            <div data-radio-value="1">medium</div>
                            <div data-radio-value="2">large</div>
                        </div>
                    </li>
                    <li wix-label="Display Avatar">
                        <div ng-show-avatar ng-model="settings.showAvatar" wix-model="showAvatar" wix-ctrl="Checkbox" wix-options="{checked:true}"></div>
                    </li>
                    <li wix-label="Results Title Style">
                        <div ng-result-text-style ng-model="settings.resultTextStyle" wix-model="resultTextStyle" wix-ctrl="Dropdown" wix-options="{value:2}">
                            <div value="short">#Wix</div>
                            <div value="medium">#Wix (6)</div>
                            <div value="long">Wix: showing 6 results</div>
                        </div>
                    </li>
                    <li wix-label="Modal Window">
                        <div wix-ctrl="Tooltip" wix-options="{placement:'bottom', text:'This doesn't do anything'}">
                            <button class="uilib-btn btn-btn-green" id="modalAnchorBtn" ng-click="modalOpen($event)"><i class="icon-edit"></i>Open me!</button>
                        </div>
                    </li>
                    <li wix-label="Popup Window">
                        <div wix-ctrl="Tooltip" wix-options="{placement:'top', text:'This also doesn't do anything'}">
                            <button class="uilib-btn btn-purple" id="popupAnchorBtn" ng-click="popupOpen($event)">Open me too!</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="acc-pane">
            <h3>Search Settings</h3>
            <div class="acc-content">
                <ul class="list">
                    <li wix-label="Default Search Term:">
                        <div ng-default-search-term ng-model="settings.defaultSearchTerm" wix-model="defaultSearchTerm" wix-ctrl="Input" wix-options="{placeholder: 'wix'}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>